body {
    background-color:#fff;
} 
.myname {
    height: 200px;
}
.myname h1 {
    color:#000;
    font-family:Tahoma;
    font-size:50px;
    text-align: center;
    position: relative;
}
.about{
    background-color: #000;
    border-radius: 10px;
    height: 100px;
}
.about h3{
    color: #fff;
    font-family:Tahoma;
    font-size:25px;
    text-align: left;
}