body {
    background-color:#fff;
} 
.myname {
    height: 50px;
}
.myname h1 {
    color:#000;
    font-family:Tahoma;
    font-size:50px;
    text-align: center;
    position: relative;
}
.about h3{
    color: #000;
    font-family:Tahoma;
    font-size:25px;
    text-align: left;
}