body {
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
    background-color:#fff;
} 
.myname {
    padding: 25px 0 25px 0;
}
.myname h1 {
    color:#000;
    font-size:50px;
    text-align: center;
    position: relative;
}
.about{
    background-color: #000;
    border-radius: 10px;
    padding: 10px 0 10px 0;
}
.about h2{
    color:#000;
    font-size:25px;
    text-align: center;
    position: relative;
}
.about h3{
    color: #fff;
    font-size:15px;
    text-align: left;
}